includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - database
        - routes
    level: 5
    tmpDir: storage/phpstan
    excludePaths:
        - database/migrations/*
